h1 {
    margin: 0%;
    margin-bottom: -300px;
    font-family: 'Merriweather Sans', sans-serif;
    font-style: normal;
    color: #837E9F;
}
p {
    position: absolute;
    margin: 0%;
    font-family: 'Merriweather Sans', sans-serif;
    font-style: normal;
    font-size: 13px;
    color: #837E9F;
}
a {
    position: absolute;
    margin: 0%;
    font-family: 'Merriweather Sans', sans-serif;
    font-style: normal;
    font-size: 13px;
    color: #837E9F;
    text-decoration: none;
}
/*perfil*/
.perfil {
    z-index: 1;
}
.perfil h1 {
    position: absolute;
    width: 196px;
    height: 26px;
    top: 230px;
    left: 150px;
    font-size: 23px;
    font-weight: 700;
    line-height: 29px;
}
.perfil p {
    width: 128px;
    height: 17px;
    top: 266px;
    left: 150px;
    font-weight: 300;
    line-height: 16px;
}
.perfil-image {
    box-sizing: border-box;
    position: absolute;
    width: 128px;
    height: 128px;
    top: 72px;
    left: 150px;
    background: url(image.png);
    border: 2px solid #00FF00;
    border-radius: 90px;
}
.perfil-box {
    z-index: -1;
    position: absolute;
    width: 348px;
    height: 292px;
    top: 40px;
    left: 40px;
    background-color: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    display: inline-block;
}
/*sobre*/
.local {
    /*no figma as configurações de cada p são diferentes, aí não sei se é assim que faz*/
    width: 35px;
    height: 16px;
    top: 396px;
    left: 124px;
    font-weight: 400;
    line-height: 16px;
    position: absolute;
    margin: 0%;
    font-family: 'Merriweather Sans', Merriweather, sans-serif;
    font-style: normal;
    font-size: 13px;
    color: #837E9F;
    text-decoration: none;
}
.local-img {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 80px;
    top: 392px;       
}
.ifg {
    width: 157px;
    height: 15px;
    top: 440px;
    left: 124px;
    font-weight: 400;
    line-height: 15px;
}
.ifg-img {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 80px;
    top: 436px;
}
.github {
    width: 75px;
    height: 156x;
    top: 484px;
    left: 124px;
    font-weight: 400;
    line-height: 16px;
}
.github-img {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 80px;
    top: 480px;
}
.linkedin {
    width: 108px;
    height: 16px;
    top: 528px;
    left: 124px;
    font-weight: 400;
    line-height: 16px;
}
.linkedin-img {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 80px;
    top: 524px;    
}
.instagram {
    width: 74px;
    height: 16px;
    top: 572px;
    left: 124px;
    font-weight: 400;
    line-height: 16px;
}
.instagram-img {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 80px;
    top: 568px;
}
.ghpages {
    width: 138px;
    height: 15px;
    top: 617px;
    left: 124px;
    font-weight: 400;
    line-height: 15px;
}
.ghpages-img {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 80px;
    top: 612px;
}
.email {
    width: 165px;
    height: 15px;
    top: 661px;
    left: 124px;
    font-weight: 400;
    line-height: 15px;
}
.email-img {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 80px;
    top: 656px;
}
.sobre-box {
    z-index: -1;
    position: absolute;
    width: 348px;
    height: 348px;
    top: 362px;
    left: 40px;
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
/*tecnologias*/
.tech h1 {
    position: absolute;
    width: 121px;
    height: 26px;
    top: 770px;
    left: 60px;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
}
.git {
    z-index: 1;
    width: 86px;
    height: 11px;
    top: 822px;
    left: 70px;
    font-weight: 700;
    line-height: 13px;
    text-align: center;
    color: #000000;
}
.gh {
    z-index: 1;
    width: 86px;
    height: 11px;
    top: 822px;
    left: 272px;
    font-weight: 700;
    line-height: 13px;
    text-align: center;
    color: #000000;
}
.html {
    z-index: 1;
    width: 86px;
    height: 11px;
    top: 861px;
    left: 171px;
    font-weight: 700;
    line-height: 13px;
    text-align: center;
    color: #000000;
}
.css {
    z-index: 1;
    width: 86px;
    height: 11px;
    top: 900px;
    left: 70px;
    font-weight: 700;
    line-height: 13px;
    text-align: center;
    color: #000000;
}
.cplus {
    z-index: 1;
    width: 86px;
    height: 11px;
    top: 900px;
    left: 272px;
    font-weight: 700;
    line-height: 13px;
    text-align: center;
    color: #000000;
}
.git-box {
    position: absolute;
    width: 86px;
    height: 24px;
    left: 70px;
    top: 816px;
    background: #CB92B1;
    border-radius: 30px;
}
.gh-box {
    position: absolute;
    width: 86px;
    height: 24px;
    left: 272px;
    top: 816px;
    background: #CB92B1;
    border-radius: 30px;   
}
.html-box {
    position: absolute;
    width: 86px;
    height: 24px;
    left: 171px;
    top: 855px;
    background: #CB92B1;
    border-radius: 30px;
}
.css-box {
    position: absolute;
    width: 86px;
    height: 24px;
    left: 70px;
    top: 894px;
    background: #CB92B1;
    border-radius: 30px;
}
.cplus-box {
    position: absolute;
    width: 86px;
    height: 24px;
    left: 272px;
    top: 894px;
    background: #CB92B1;
    border-radius: 30px;
}
.tech-box {
    z-index: -1;
    position: absolute;
    width: 348px;
    height: 208px;
    top: 740px;
    left: 40px;
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
/*experiências*/
.experience h1 {
    position: absolute;
    width: 141px;
    height: 26px;
    top: 1008px;
    left: 60px;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
}
.experience-box {
    z-index: -1;
    position: absolute;
    width: 348px;
    height: 349px;
    top: 978px;
    left: 40px;
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
/*educação*/
.education h1 {
    position: absolute;
    width: 141px;
    height: 26px;
    top: 1387px;
    left: 60px;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
}
.education-box {
    z-index: -1;
    position: absolute;
    width: 348px;
    height: 352px;
    top: 1357px;
    left: 40px;
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
/*my projects*/
.my-projects h1 {
    position: absolute;
    width: 121px;
    height: 26px;
    top: 70px;
    left: 478px;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
}
.my-projects-box {
    z-index: -1;
    position: absolute;
    width: 952px;
    height: 86px;
    top: 40px;
    left: 448px;
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
/*bglh-git1*/
.bglh-git1-box {
    z-index: -1;
    position: absolute;
    width: 461px;
    height: 186px;
    top: 157px;
    left: 448px;
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
/*bglh-git2*/
.bglh-git2-box {
    z-index: -1;
    position: absolute;
    width: 461px;
    height: 186px;
    top: 157px;
    left: 939px;
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
/*recent posts*/
.rposts h1 {
    position: absolute;
    width: 140px;
    height: 26px;
    top: 403px;
    left: 478px;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
}
.rposts-box {
    z-index: -1;
    position: absolute;
    width: 952px;
    height: 86px;
    top: 373px;
    left: 448px;
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
/*bglh-git3*/
.bglh-git3-image {
    box-sizing: border-box;
    position: absolute;
    width: 128px;
    height: 128px;
    top: 520px;
    left: 478px;
    background: url(image.png);
    border: 2px solid #00FF00;
    border-radius: 90px;
}
.bglh-git3-box {
    z-index: -1;
    position: absolute;
    width: 952px;
    height: 201px;
    top: 489px;
    left: 448px;
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
/*with-love*/
.with-love {
    width: 206px;
    height: 19px;
    left: 617px;
    top: 1728px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
/*body*/
body {
    background-color: #22212C;
}